name: build

on:
  push:
    branches:
      # long-lived branches
      - master

  pull_request:
    branches:
      - "*"

jobs:
  build:
    strategy:
      matrix:
        platform: [ubuntu-latest]
        node-version: [12.x]
    runs-on: ${{ matrix.platform }}

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}

    - name: Install dependencies
      run: npm ci

    - name: run ganache
      run: |
        npx ganache-cli -f https://ropsten.infura.io/v3/${{secrets.INFURA_API_KEY}} -m '${{secrets.MNENOMIC}}' -u 0x876A207aD9f6f0fA2C58A7902B2E7568a41c299f -i 999 --chainId 999 &
        sleep 3

    - name: npm build
      run: npm run build
      env:
        MNENOMIC: ${{secrets.MNENOMIC}}
        INFURA_API_KEY: ${{secrets.INFURA_API_KEY}}

    - name: npm deploy
      run: npm run deploy -- --reset
      env:
        MNENOMIC: ${{secrets.MNENOMIC}}
        INFURA_API_KEY: ${{secrets.INFURA_API_KEY}}

    - name: npm config-gen
      run: npm run config-gen
      env:
        MNENOMIC: ${{secrets.MNENOMIC}}
        INFURA_API_KEY: ${{secrets.INFURA_API_KEY}}

    - name: npm test
      run: npm run test
      env:
        MNENOMIC: ${{secrets.MNENOMIC}}
        INFURA_API_KEY: ${{secrets.INFURA_API_KEY}}

    - name: npm docs
      run: npm run docs

    - name: Archive artifacts
      uses: actions/upload-artifact@v2
      with:
        name: build-${{ github.head_ref }}-${{ github.sha }}
        path: |
          artifacts
          docs/api
          deployments
          networks
